requests>=2.11.1
lxml>=3.6.4
beautifulsoup4>=4.5.1
-e git+https://github.com/kuraga/dirtyjson.git@master#egg=dirtyjson
pymongo>=3.3.0
glob2>=0.4.1
numpy>=1.11.2
pandas>=0.19.0
scipy>=0.18.1
bottle>=0.12.10
